body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 15px;
    min-height: 400px; /* Мінімальна висота */
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Стилі для таблиць */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #cccccc;
    text-align: left;
}

/* Класи для виділення стану позик */
.overdue {
    background-color: #ffcccc;
    color: #cc0000;
}

.due-soon {
    background-color: #ffebcc;
    color: #cc7a00;
}

.is-ok {
    background-color: #ccffcc;
    color: #2d862d;
}

/* Класи для кнопок, якщо вони є */
.btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
    color: #dddddd;
}

.overdue { background-color: #ffcccc; }
.due-soon { background-color: #ffebcc; }
.on-time { background-color: #ccffcc; }